body{
    margin: 0 0 0 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    background-color:azure;
}

    .maincontainer {
        height: 100%;
        width: 100%;
    }

.left {
    width: 15%;
    height: 100%;
    background-color: #43aec9;
    position: fixed;
    transition: 1s;
    left: -12%;
}

        .left:hover {
            transform: translateX(80%)
        }
    .right {
        height:100%;
        width:100%;
        background-color:white;
        text-align:center;
    }
.menubuttons2 {
    width: 60%;
    height: 5%;
    margin-top: 15%;
    margin-left: 15%;
    background-color: azure;
    font-family: 'Noto Sans', sans-serif;
    color: #43aec9;
    border: none;
    transition: 0.5s;
}

        .menubuttons2:hover {
            transform: scale(1.1);
        }

    .BackButton {
        border: none;
        transition: 0.5s;
        position: fixed;
        margin-top:5px;
        z-index:5;
        height:5%;
        width:2.5%;
    }

        .BackButton:hover {
            transform: scale(1.1);
        }
.disp {
    background-color: #43aec9;
    height: 2%;
    width: 2%;
    font-size: 35px;
    font-weight: bold;
    color: azure;
    margin-left: 5px;
    margin-top: 5px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}
.closebutton {
    width: 60%;
    height: 5%;
    margin-top: 15%;
    margin-left: 15%;
    background-color: azure;
    font-family: 'Noto Sans', sans-serif;
    color: #43aec9;
    border: none;
    transition: 0.5s;
}

    .closebutton:hover {
        transform: scale(1.12);
        background-color: #43aec9;
        border: solid;
        border-color: white;
        color: white;
    }
.home{
    text-align:center;
    padding-top:18%;
    background-color:azure;
    height: 100vh;
     }
.divusuarios {
    font-family: 'Noto Sans', sans-serif;
    margin-left: 35%;
}
.divusuarios2 {
    font-family: 'Noto Sans', sans-serif;
}
.n{
    margin-left:35%;
}
.text {
    padding: 1px;
    margin-top: 20px;
    height: 25px;
}
.buttons {
    height: 40px;
    text-align: center;
    background-color: #43aec9;
    transition: 1s;
    color: white;
    border: solid;
    border-color: white;
    margin-left:10%;
}
    .buttons:hover {
        transform: scale(1.12);
        background-color: white;
        border: solid;
        border-color: #43aec9;
        color: #43aec9;
    }